<div class="field">
  <%= f.label t("users.title.username") %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label t("users.title.password") %><br />
  <%= f.password_field :password %>
</div>
