<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon.png">
    
    <%= render 'layouts/stylesheets' %>
    
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    
    <%= csrf_meta_tag %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    
    <div id="main">
      <div class="container">
        <%= render 'layouts/header' %>
        <section class="round">
          <%= yield %>
        </section>
        <%= render 'layouts/footer' %>
        <% debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>
